@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700&display=swap');

$whiteColor: #FFFFFF;
$footerColor: #E9EDF1;
$lightColor: #DFE3E9;
$lightColor-1: #EFF3F6;
$lightColor-2: #C2CAD4;
$lightColor-3: #ECF6FF;
$darkColor-1: #7F8FA4;
$darkColor-2: #516173;
$darkColor-3: #354052;
$tooltipColor: #273142;
$sub-menuActiveBackground: #ECF6FF;
$scrollColor: #1F8EFA;
$blueColor: #3A9EFF;
$yellowColor: #FFB300;
$redColor: #E91E63;

.none {
	display: none;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font-family: 'Golos Text', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	height: 100%;
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

._active-link {
	&::after {
		content: '';
		position: relative;
		display: block;
		width: 100%;
		height: 0.2rem;
		background-color: $blueColor;
		bottom: -1.9rem;
		z-index: 2;
	}
}

._work-btn {
	background-color: $blueColor;
	padding: 1.2rem;
	border-radius: 0.4rem;
}

._slash {
	&::after {
		content: '/';
		display: block;
		width: 0.7rem;
		height: 1.6rem;
		color: $lightColor;
		margin-left: 0.8rem;
	}
}

// SCROLLBAR
.scrollbar-style {

	&::-webkit-scrollbar {
		width: 5px;
		background-color: $whiteColor;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $scrollColor;
		border-radius: 2rem;
	}
}

// CONTAINERS
.container {
	max-width: 100vw;
	padding: 0rem 7.2rem 0rem 1.6rem;
}

.container-desktop {
	max-width: 1880px;
	padding: 0.2rem 1.3rem 0rem 1.6rem;
}

.container-widget {
	max-width: 60rem;
	padding: 0rem 1.6rem;
}

// SUB-MENU
.sub-menu {
	position: absolute;
	top: 100%;
	right: 8px;
	display: flex;
	flex-direction: column;
	min-width: 20rem;
	padding: 0.8rem 0rem;
	background-color: $whiteColor;
	border-radius: 0.4rem;
	box-shadow: 0px 5px 27px 0px rgba(27, 36, 49, 0.05), 0px 13px 20px 0px rgba(25, 32, 42, 0.15);
	z-index: 1111;

	&__close {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}

	&__open {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}

	&__item {
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 16px;
		padding: 1rem 1.6rem;

		&__link {
			padding: 1rem 1.6rem;
			color: $darkColor-3;

			&_active {
				color: $scrollColor;
				background-color: $sub-menuActiveBackground;
			}
		}

		&_settings {
			border-top: 2px solid $lightColor;
		}

		&:nth-last-child(2) {
			margin-bottom: 0.8rem;
		}

		&_active {
			background-color: $sub-menuActiveBackground;
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		gap: 0.6rem;
		margin-top: 0.8rem;
		color: $darkColor-3;
		cursor: pointer;
	}

	&__svg {
		width: 1.8rem;
		height: 1.8rem;
	}
}

.position-sub {
	position: relative;
}

// HEADER
.header {
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: $darkColor-3;
	border-bottom: 0.2rem solid $darkColor-2;

	&__logo {
		display: block;
		background-image: url(../images/header/svg/logo.svg);
		width: 12rem;
		height: 3.2rem;
	}

	&__add {
		display: block;
		background-image: url(../images/header/svg/plus-button.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto;
		background-color: $blueColor;
		border-radius: 50%;
		width: 3.6rem;
		height: 3.6rem;
		cursor: pointer;
	}

	&__nav {
		font-weight: 500;
		line-height: 115%;
		margin-left: 1rem;

		&__items {
			display: flex;
			align-items: center;
			gap: 1.8rem;
		}

		&__item {

			&__link {
				color: $whiteColor;

				&_more {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 4rem;
					height: 4rem;
					cursor: pointer;
				}
			}
		}
	}
}

.header-container {
	display: flex;
	align-items: center;
	gap: 2.4rem;
	padding: 0.9rem 1.6rem;
}

// SIDEBAR
.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 5.6rem;
	height: 100vh;
	background-color: $darkColor-3;
	z-index: 999;

	&__items {
		display: flex;
		flex-direction: column;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 5.6rem;
		height: 5.6rem;

		&__img-size {
			position: relative;
			width: 3.2rem;
			height: 3.2rem;
			cursor: pointer;
		}

		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 5.6rem;
			height: 5.6rem;
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 100%;
			text-transform: uppercase;
			color: $darkColor-2;
			background: linear-gradient(0deg, #3A9EFF -251.25%, #ECF6FF 50%);
			cursor: pointer;
		}
	}

	&__under-line {

		&::after {
			content: '';
			position: relative;
			display: block;
			width: 3.2rem;
			height: 0.1rem;
			background-color: $darkColor-2;
			bottom: -1rem;
		}
	}

	&_alert {
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			background-image: url('../images/sidebar/svg/counter-alert.svg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: auto;
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
		}
	}

	&__question {
		position: fixed;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 5.6rem;
		height: 6.4rem;

		&__img {
			width: 3.6rem;
			height: 3.6rem;
			background-color: $yellowColor;
			border-radius: 50%;
			cursor: pointer;
			z-index: 999;
		}
	}
}

.sidebar-horizontal {
	position: fixed;
	width: 100vw;
	top: 5.6rem;
	background: $whiteColor;
	border-bottom: 1px solid $lightColor;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.8rem 0rem;
	}

	&__vertical-line {

		&::after {
			content: '';
			position: relative;
			display: block;
			width: 0.1rem;
			height: 2rem;
			background-color: $lightColor;
			margin: 0rem 1.6rem;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		font-weight: 700;
		line-height: 115%;
		color: $darkColor-3;

		&__tasks {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			letter-spacing: -0.6px;

			&_job {
				display: inline-block;
				cursor: pointer;
			}
		}

		&__date {
			display: flex;
			align-items: center;
			gap: 0.8rem;

			&_day {
				color: $blueColor;
			}
		}

		&__weather {
			display: flex;
			align-items: center;
			gap: 0.8rem;

			&_icon {
				width: 2.4rem;
				height: 2.4rem;
			}

			&_img {
				object-fit: contain;
				object-position: 50% 50%;
			}
		}
	}

	&__action {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 115%;
		letter-spacing: -0.7px;
		text-transform: uppercase;
		color: $whiteColor;
		gap: 1.6rem;

		&__bg-style {
			display: block;
			width: 2.4rem;
			height: 2.4rem;
			background-size: auto;
			background-repeat: no-repeat;
			cursor: pointer;
		}

		&__more {
			background-image: url('../images/sidebar-horizontal/more-button.svg');
		}

		&__question {
			background-image: url('../images/sidebar-horizontal/question.svg');
		}

		&__add {

			&_btn {
				display: inline-block;
				cursor: pointer;
			}
		}
	}
}

// MAIN
.main {
	margin-top: 11.2rem;
	background-color: $lightColor-1;
	flex-grow: 1;

	&__desktop {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.6rem;
		width: 184.8rem;
		height: 86vh;
		padding: 1.4rem 0rem;
		overflow-y: scroll;
	}
}

// WIDGET
.widget {
	min-width: 60rem;
	min-height: 52rem;
	border-radius: 0.8rem;

	&__dashed-border {
		border-radius: 4px;
		border: 0.2rem dashed $lightColor-2;
	}

	&__action {
		min-height: 52rem;
		height: 52rem;
		background-color: $whiteColor;
		border-radius: 0.8rem;
		border: 1px solid $lightColor;
		border-top: none;
	}

	&__header {
		width: 100%;
		min-height: 6.6rem;
		border-bottom: 0.1rem solid $lightColor;

		&__line {
			top: -1px;
			padding: 0.2rem 0rem;
			border-radius: 0.8rem 0.8rem 0rem 0rem;

			&_blue {
				background-color: $blueColor;
			}

			&_red {
				background-color: $redColor;
			}

			&_yellow {
				background-color: $yellowColor;
			}
		}

		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1rem 0rem 1.4rem;
		}

		&__text {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		&__title {
			font-weight: 500;
			line-height: 115%;
			color: $darkColor-3;
		}

		&__desc {
			display: flex;
			align-items: center;
			gap: 0.8rem;
			font-weight: 500;
			font-size: 1.4rem;
			line-height: 115%;
			color: $darkColor-3;

			&__name,
			&__filter {
				display: flex;
				align-items: center;
				color: $darkColor-2;
			}

			&__period,
			&__date {
				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 0.1rem;
					background-color: $blueColor;
				}
			}
		}

		&__more-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2rem;
			height: 2rem;
			cursor: pointer;

			&__img {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	&__search {
		min-height: 4.8rem;
		border-bottom: 0.1rem solid $lightColor;

		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.6rem 0rem;
		}

		&__wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 0.8rem;
			max-width: 48.3rem;
			padding: 0.8rem;
		}

		&__img {
			display: block;
			width: 2rem;
			height: 2rem;
			background-image: url('../images/main/widget/svg/search.svg');
			background-position: center center;
			background-size: auto;
			background-repeat: no-repeat;
		}

		&__input {
			height: 2rem;

			&::placeholder {
				font-weight: 400;
				line-height: 125%;
				font-size: 1.4rem;
				color: $darkColor-1;
			}

			&[type="search"]::-webkit-search-decoration,
			&[type="search"]::-webkit-search-cancel-button,
			&[type="search"]::-webkit-search-results-button,
			&[type="search"]::-webkit-search-results-decoration {
				-webkit-appearance: none;
			}
		}
	}

	&__main {
		flex-grow: 1;

		&__wrapper {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding-top: 1.6rem;
		}

		&__contact {
			width: 100%;
			padding: 0.8rem 1.6rem;
			border: 1px solid $lightColor;

			&__wrapp {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			&__data {
				display: flex;
				flex-direction: column;

				&__connection {
					display: flex;
					align-items: center;
				}

				&_name {
					font-weight: 500;
					font-size: 1.4rem;
					color: $darkColor-3;
					white-space: nowrap;
					text-overflow: ellipsis;
					line-height: 115%;
				}

				& a {
					display: flex;
					align-items: center;
					gap: 0.4rem;
					font-weight: 400;
					color: $darkColor-1;

					&::before {
						content: '';
						display: block;
						width: 1.2rem;
						height: 1.2rem;
						background-position: center center;
						background-size: auto;
						background-repeat: no-repeat
					}
				}

				&_phone {
					line-height: 115%;
					font-size: 1.2rem;

					&::before {
						background-image: url('../images/main/widget/svg/phone.svg');
					}
				}

				&_email {
					line-height: 120%;
					font-size: 1.3rem;

					&::before {
						background-image: url('../images/main/widget/svg/email.svg');
					}
				}
			}

			&__icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 2.4rem;
				height: 2.4rem;
				background: linear-gradient(0deg, $blueColor -251.25%, $lightColor-3 50%);
				border-radius: 50%;

				&_status {
					font-weight: 700;
					line-height: 115%;
					letter-spacing: 0.28px;
					font-size: 1.4rem;
					color: $darkColor-2;
					text-transform: uppercase;
				}
			}
		}

		&__canvas {
			// width: 100% !important;
			// height: 100% !important;
			width: 36.5rem !important;
			height: 36.5rem !important;
		}
	}

	&__footer {
		width: 100%;
		min-height: 5.2rem;
		border-top: 1px solid $lightColor;
		border-radius: 0rem 0rem 0.8rem 0.8rem;
		background: linear-gradient(180deg, #EFF3F6 0%, #DFE3E9 100%);
		box-shadow: 0px 2px 0px 0px $lightColor inset;

		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1.6rem 0rem;
		}

		&__wrap {
			display: flex;
			align-items: center;
			gap: 1.7rem;
		}

		&__date,
		&__contact-sheet {
			font-size: 1.3rem;
			line-height: 120%;
			color: $darkColor-1;
		}

		&__icons {
			display: flex;
			align-items: center;
			gap: 1.6rem;
		}

		&__icon {
			display: block;
			width: 2rem;
			height: 2rem;
			background-position: center center;
			background-size: auto;
			background-repeat: no-repeat;
			cursor: pointer;

			&_update {
				background-image: url('../images/main/widget/svg/update.svg');
			}

			&_increase {
				background-image: url('../images/main/widget/svg/increase.svg');
			}
		}
	}
}

.widget-contacts {

	&__main {
		overflow: scroll;
	}

	&__create {
		font-weight: 500;
		line-height: 115%;
		font-size: 1.4rem;
		color: $darkColor-3;
		cursor: pointer;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 0.1rem;
			background-color: $blueColor;
		}
	}

	&_gap {
		gap: 0.8rem;
	}
}

// TOOLTIP
.tippy-box {
	font-size: 1.3rem !important;
	line-height: 1.5rem !important;
	color: $whiteColor !important;
	background-color: $tooltipColor !important;
	border-radius: 0.4rem !important;
	opacity: 0.9 !important;
}

.tippy-box[data-placement^='top']>.tippy-arrow::before {
	border-top-color: $tooltipColor !important;
}



// FOOTER
.footer {
	display: flex;
	align-items: center;
	justify-content: end;
	font-size: 1.3rem;
	line-height: 120%;
	color: $darkColor-1;
	background-color: $footerColor;
	padding: 0.6rem 0rem;

	&__wrap {
		display: flex;
		align-items: center;
		padding-right: 7rem;
	}

	&__copyright {
		display: flex;
		align-items: center;

		&::after {
			content: '';
			display: block;
			width: 0.1rem;
			height: 1.6rem;
			background-color: $lightColor;
			margin: 0rem 0.8rem 0rem 0.8rem;
		}
	}
}