@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700&display=swap');

$whiteColor: #FFFFFF;
$footerColor: #E9EDF1;
$lightColor: #DFE3E9;
$lightColor-1: #EFF3F6;
$lightColor-2: #C2CAD4;
$lightColor-3: #ECF6FF;
$darkColor-1: #7F8FA4;
$darkColor-2: #516173;
$darkColor-3: #354052;
$tooltipColor: #273142;
$titleSideMenuColor: #273142;
$sub-menuActiveBackground: #ECF6FF;
$scrollColor: #1F8EFA;
$blueColor: #3A9EFF;
$bgVkColor: #0085F0;
$bgInstColor: #E91E63;
$bgTlgrColor: #3A9EFF;
$bgUtColor: #FF3031;
$yellowColor: #FFB300;
$yellowColor-1: #FECF4B;
$redColor: #E91E63;
$dateColor: #FF3031;

.none {
	display: none;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font-family: 'Golos Text', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	height: 100%;
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.__active {
	background-color: $scrollColor;

	&:hover {
		border: 1px solid $scrollColor !important;
	}

	&>a {
		color: $whiteColor;
	}
}

._active-link {
	&::after {
		content: '';
		position: relative;
		display: block;
		width: 100%;
		height: 0.2rem;
		background-color: $blueColor;
		bottom: -1.8rem;
		z-index: 2;
	}

	&_sb {
		&::after {
			bottom: -1.2rem;
		}
	}
}

._work-btn {
	background-color: $blueColor;
	padding: 1.2rem;
	border-radius: 0.4rem;
}

._vertical-line {
	&::after {
		content: "";
		position: relative;
		display: block;
		width: 0.1rem;
		height: 2rem;
		background-color: #DFE3E9;
		margin: 0rem 1.6rem;

	}

	&_hs::after {
		margin: 0rem 1.6rem 0rem 0.8rem;
	}

	&_timer::after {
		margin: 0rem 0.8rem 0rem 0.4rem;
	}
}

._slash {
	&::after {
		content: '/';
		display: block;
		width: 0.7rem;
		height: 1.6rem;
		color: $lightColor;
		margin-left: 0.8rem;
	}
}

.delimiter,
.delimiter-text {
	width: 100%;

	&__wrapper {
		display: flex;
		align-items: center;
		gap: 0.8rem;
	}

	&__text {
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.6rem;
		color: $lightColor-2;
	}

	&__line {
		width: 100%;
		height: 0.1rem;
		background-color: $lightColor;
		margin: 1.6rem 0rem;
	}
}

// LOCK
.lock {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.4rem;
	height: 2.6rem;
	cursor: pointer;
}

// SCROLLBAR
.scrollbar-style {

	&::-webkit-scrollbar {
		width: 5px;
		background-color: $whiteColor;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $scrollColor;
		border-radius: 2rem;
	}
}

// CONTAINERS
.container-horizontal {
	max-width: 100vw;
	padding: 0rem 7.2rem 0rem 1.6rem;
}

.header-container {
	display: flex;
	align-items: center;
	gap: 2.4rem;
	padding: 0.9rem 1.6rem 0.6rem;
}

.container-desktop {
	max-width: 1880px;
	padding: 0.2rem 1.3rem 0rem 1.6rem;
}

.container-widget {
	max-width: 60rem;
	padding: 0rem 1.6rem;
}

.container-sidebar-menu {
	padding: 0rem 1.6rem;
}

.container-set-user {
	padding: 0rem 1.6rem;
}

.container-support {
	padding: 0rem 1.6rem;
}

// DATE
.date {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	font-weight: 700;
	line-height: 115%;
	color: #354052;

	&__day {
		color: $blueColor;
	}
}

// TIMER
.timer {
	display: flex;
	align-items: center;
	gap: 0.4rem;

	&__counter {
		font-size: 1.8rem;
		line-height: 2.1rem;
		letter-spacing: 0.36px;
		color: $darkColor-2;
		text-align: center;
	}

	&__play-btn {
		display: block;
		width: 2.4rem;
		height: 2.4rem;
		border-radius: 50%;
		background-color: $scrollColor;
		background-image: url('../images/set-user/svg/play.svg');
		background-position: center center;
		background-size: auto;
		background-repeat: no-repeat;
		cursor: pointer;
	}
}

// SUB-MENU
.sub-menu {
	position: absolute;
	top: 100%;
	display: flex;
	flex-direction: column;
	min-width: 20rem;
	padding: 0.8rem 0rem;
	background-color: $whiteColor;
	border-radius: 0.4rem;
	box-shadow: 0px 5px 27px 0px rgba(27, 36, 49, 0.05), 0px 13px 20px 0px rgba(25, 32, 42, 0.15);
	z-index: 1111;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease 0s;

	&_header {
		right: 8px;
	}

	&_hor-sb {
		right: 74px;
	}

	&_wid-sb {
		min-width: 8.8rem;
		left: 70px;
	}

	&_more {
		top: 45px;
		right: 0px;
	}

	&__open {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}

	&__item {
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 16px;
		padding: 1rem 1.6rem;
		cursor: pointer;

		&_not-stg {
			margin-bottom: 0rem !important;
		}

		&__link {
			color: $darkColor-3;

			&_active {
				color: $scrollColor;
				background-color: $sub-menuActiveBackground;
			}
		}

		&_settings {
			border-top: 2px solid $lightColor;
		}

		&:nth-last-child(2) {
			margin-bottom: 0.8rem;
		}

		&_active {
			background-color: $sub-menuActiveBackground;
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		gap: 0.6rem;
		color: $darkColor-3;
		cursor: pointer;

		&_footer {
			margin-top: 0.8rem;
		}
	}

	&__svg {
		width: 1.8rem;
		height: 1.8rem;
	}
}

.position-sub {
	position: relative;
}

// HEADER
.header {
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: $darkColor-3;
	border-bottom: 0.2rem solid $darkColor-2;

	&__logo {
		display: block;
		background-image: url(../images/header/svg/logo.svg);
		width: 12rem;
		height: 3.2rem;
	}

	&__add {
		display: block;
		background-image: url(../images/header/svg/plus-button.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto;
		background-color: $blueColor;
		border-radius: 50%;
		width: 3.6rem;
		height: 3.6rem;
		cursor: pointer;
	}

	&__nav {
		font-weight: 500;
		line-height: 115%;
		margin-left: 1rem;

		&__items {
			display: flex;
			align-items: center;
			gap: 1.8rem;
		}

		&__item {

			&__link {
				color: $whiteColor;

				&_more {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 4rem;
					height: 4rem;
					cursor: pointer;
				}
			}
		}
	}
}

// USER-SUPPORT
.user-support {
	position: absolute;
	right: 4rem;
	bottom: 8rem;
	width: 0rem;
	height: 0rem;
	background: $whiteColor;
	border-radius: 16px;
	box-shadow: 0px 11px 53px 0px rgba(27, 36, 49, 0.05), 0px 28px 40px 0px rgba(27, 36, 49, 0.15);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease 0s;

	&__open {
		width: 32rem;
		height: 46.1rem;
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		transition: all 0.3s ease 0s;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__header {
		margin-bottom: 1.6rem;
		padding: 1.8rem 0rem;
		border-radius: 16px 16px 0px 0px;
		background: $lightColor-1;

		&__title {
			font-weight: 500;
			line-height: 1.8rem;
			color: $tooltipColor;
			font-size: 1.8rem;
		}

		&__close {
			display: block;
			width: 2rem;
			height: 2rem;
			background-color: transparent;
			background-image: url('../images/user-support/svg/close.svg');
			background-position: center center;
			background-size: auto;
			background-repeat: no-repeat;
			cursor: pointer;
		}
	}

	&__chapter {
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.4rem;
		letter-spacing: 0.24px;
		color: $darkColor-1;
		text-transform: uppercase;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.6rem;
		color: $darkColor-3;
		margin-top: 1.6rem;
	}

	&__item {

		&__icon {
			display: flex;
			align-items: center;
			gap: 0.6rem;
			width: fit-content;
			cursor: pointer;

			&>span:hover {
				color: $scrollColor;
			}

			// &__img>path:hover {
			// fill: #1F8EFA
			// 	fill: $scrollColor;
			// }
		}
	}

	&__footer {
		margin-top: 1.6rem;
		// border-top: ;
		border-radius: 0px 0px 16px 16px;
		background: $whiteColor;
		box-shadow: 0px 2px 0px 0px $lightColor inset;

		&__row {
			display: flex;
			align-items: center;
			gap: 0.8rem;
		}
	}

	&__media {
		display: block;
		width: 4rem;
		height: 4rem;
		margin: 1.6rem 0rem;
		border-radius: 50%;
		background-position: center center;
		background-size: auto;
		background-repeat: no-repeat;
		cursor: pointer;

		&_vk {
			background-color: $bgVkColor;
			background-image: url('../images/user-support/svg/vk.svg');
		}

		&_inst {
			background-color: $bgInstColor;
			background-image: url('../images/user-support/svg/inst.svg');
		}

		&_tlgr {
			background-color: $bgTlgrColor;
			background-image: url('../images/user-support/svg/tlgr.svg');
		}

		&_ut {
			background-color: $bgUtColor;
			background-image: url('../images/user-support/svg/ut.svg');
		}
	}
}

// SET-USER
.set-user {
	position: absolute;
	top: 0;
	right: -100%;
	width: 24rem;
	border-radius: 8px 0px 0px 8px;
	background: $whiteColor;
	box-shadow: 0px 3px 13px 0px rgba(27, 36, 49, 0.05), 0px 7px 10px 0px rgba(27, 36, 49, 0.15);
	z-index: 998;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease 0s;

	&__open {
		right: 5.6rem;
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		transition: all 0.3s ease 0s;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 0.2rem;
			background: $lightColor;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		padding: 1.2rem 0rem;

		&__name {
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 1.6rem;
			color: $darkColor-3;
		}

		&__job-title {
			font-size: 1.2rem;
			font-weight: 400;
			line-height: 1.4rem;
			color: $darkColor-1;
		}
	}

	&__indicator {
		display: block;
		width: 1.6rem;
		height: 1.6rem;
		background-image: url('../images/set-user/svg/indicator.svg');
		background-position: center center;
		background-size: auto;
		background-repeat: no-repeat;
	}

	&__data {
		padding: 1rem 0rem;
		background-color: $lightColor-1;

		&__wrapper {
			display: flex;
			align-items: center;
		}
	}

	&__list {
		padding: 0.8rem 0rem;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 0.6rem;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.6rem;
		padding: 1rem 0rem;
		cursor: pointer;

		&__link {
			color: $darkColor-3;
		}
	}
}

// SIDEBAR
.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 5.6rem;
	height: 100vh;
	background-color: $darkColor-3;
	z-index: 999;

	&__items {
		display: flex;
		flex-direction: column;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 5.6rem;
		height: 5.6rem;

		&__img-size {
			position: relative;
			width: 3.2rem;
			height: 3.2rem;
			cursor: pointer;
		}

		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 5.6rem;
			height: 5.6rem;
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 100%;
			text-transform: uppercase;
			color: $darkColor-2;
			background: linear-gradient(0deg, #3A9EFF -251.25%, #ECF6FF 50%);
			cursor: pointer;
		}

		&__active {
			background-color: $tooltipColor;
		}
	}

	&__under-line {

		&::after {
			content: '';
			position: relative;
			display: block;
			width: 3.2rem;
			height: 0.1rem;
			background-color: $darkColor-2;
			bottom: -1rem;
		}
	}

	&__alert {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		background-image: url('../images/sidebar/svg/counter-alert.svg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		opacity: 0;
		visibility: hidden;

		&_visible {
			opacity: 1;
			visibility: visible;
		}
	}

	&__question {
		position: fixed;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 5.6rem;
		height: 6.4rem;

		&__img {
			width: 3.6rem;
			height: 3.6rem;
			background-color: $yellowColor;
			border-radius: 50%;
			cursor: pointer;
			z-index: 999;
		}
	}
}

.sidebar-horizontal,
.sidebar-horizontal-sub {
	position: fixed;
	width: 100vw;
	top: 5.6rem;
	background: $whiteColor;
	border-bottom: 1px solid $lightColor;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.8rem 0rem;
	}

	&__menu {
		display: flex;
		align-items: center;
		font-weight: 700;
		line-height: 1.4rem;
		color: $darkColor-3;

		&__tasks {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			letter-spacing: -0.6px;

			&_job {
				display: inline-block;
				cursor: pointer;
			}
		}

		&__weather {
			display: flex;
			align-items: center;
			gap: 0.8rem;

			&_icon {
				width: 2.4rem;
				height: 2.4rem;
			}

			&_img {
				object-fit: contain;
				object-position: 50% 50%;
			}
		}

		&__sub {

			&__list {
				display: flex;
				align-items: center;
				font-weight: 700;
				font-size: 1.2rem;
				line-height: 1.4rem;
				letter-spacing: 0.24px;
				text-transform: uppercase;
			}

			&__item {
				padding: 1.1rem;
				border: 1px solid transparent;
				border-radius: 0.4rem;
				cursor: pointer;

				&:hover {
					border: 1px solid $lightColor-1;
				}
			}

			&__link {
				color: $darkColor-2;
			}
		}
	}

	&__action {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 115%;
		letter-spacing: -0.7px;
		text-transform: uppercase;
		color: $whiteColor;
		gap: 1.6rem;

		&__bg-style {
			display: block;
			width: 2.4rem;
			height: 2.4rem;
			background-size: auto;
			background-repeat: no-repeat;
			cursor: pointer;
		}

		&__more {
			background-image: url('../images/sidebar-horizontal/more-button.svg');
		}

		&__question {
			background-image: url('../images/sidebar-horizontal/question.svg');
		}

		&__add {

			&_btn {
				display: inline-block;
				cursor: pointer;
			}
		}
	}
}

.sidebar-horizontal-sub {
	background: $whiteColor;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #DFE3E9;
	transform: perspective(700px) translate(0rem, -100%) rotateX(45deg);
	visibility: hidden;
	z-index: 999;
	transition: all 0.3s ease 0s;

	&__open {
		transform: perspective(700px) translate(0rem, 0%) rotateX(0deg);
		visibility: visible;
	}
}

// TODO
.sidebar-menu {
	position: absolute;
	top: 0rem;
	right: -100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 36rem;
	height: 100vh;
	border-radius: 1.6rem 0rem 0rem 1.6rem;
	background-color: $whiteColor;
	box-shadow: 0rem 0.3rem 1.3rem 0rem rgba(27, 36, 49, 0.05), 0rem 0.7rem 1rem 0rem rgba(27, 36, 49, 0.15);
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease 0s;

	&_action {
		visibility: visible;
		pointer-events: all;
		right: 5.6rem;
	}

	&__all-things {
		width: 100%;
	}

	&__list,
	&__list-today {
		display: flex;
		flex-direction: column;
	}

	&__list-today {

		&__events {
			display: flex;
			flex-direction: column;

			&__item {
				display: flex;
				flex-direction: column;
				gap: 0.4rem;
				cursor: pointer;

				&__wrapper {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}

			&__title,
			&__description {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			&__title {

				&__wrapper {
					display: flex;
					align-items: center;
					gap: 0.8rem;
				}

				&__img {
					display: block;
					width: 2rem;
					height: 2rem;
					object-fit: contain;
					padding: 0.2rem;
					border-radius: 0.3rem;
					background: linear-gradient(0deg, $yellowColor 0%, $yellowColor-1 100%);

					&_blue {
						background: linear-gradient(180deg, $blueColor 0%, $scrollColor 100%);
					}
				}

				&__text {
					font-weight: 500;
					font-size: 1.4rem;
					line-height: 1.6rem;
					white-space: nowrap;
					color: $darkColor-3;
				}
			}

			&__state {

				&__wrapper {
					display: flex;
					align-items: center;
					gap: 0.8rem;
				}

				&__img {
					display: block;
					width: 2rem;
					height: 2rem;
					object-fit: contain;
					padding: 0.2rem;
				}

				&__text {
					font-weight: 500;
					background: $sub-menuActiveBackground;
					text-align: center;
					font-size: 1.3rem;
					line-height: 1.6rem;
					color: $scrollColor;
					border-radius: 0.3rem;
					padding: 0.2rem 0.4rem;

					&_grey {
						color: $darkColor-2;
						background: $footerColor;
					}
				}
			}

			&__description {
				padding: 0.1rem 0rem;

				&__wrapper {
					display: flex;
					align-items: center;
					gap: 0.5rem;
					font-weight: 400;
					font-size: 1.2rem;
					line-height: 1.4rem;
					color: $dateColor;
				}

				&__text {
					font-weight: 500;
					font-size: 1.3rem;
					line-height: 1.6rem;
					color: $tooltipColor;

					&_under-line {

						&::after {
							content: '';
							position: relative;
							top: 1px;
							display: block;
							width: 100%;
							height: 0.1rem;
							background: $darkColor-1;
						}
					}
				}
			}
		}

		&__tasks {

			&__item {
				display: flex;
				flex-direction: column;
				gap: 0.4rem;
				cursor: pointer;
			}
		}
	}

	&__header {
		padding: 1.8rem 0rem;
		border-radius: 1.6rem 0rem 0rem 0rem;
		background-color: $lightColor-1;

		&__content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 32.8rem;
			gap: 0.8rem;

			&__title {
				font-weight: 500;
				font-size: 1.8rem;
				line-height: 1.8rem;
				color: $titleSideMenuColor;
			}

			&__close-btn {
				display: block;
				width: 2rem;
				height: 2rem;
				background-color: transparent;
				background-image: url('../images/sidebar/svg/close-btn.svg');
				background-position: center center;
				background-size: auto;
				background-repeat: no-repeat;
				cursor: pointer;
			}
		}
	}

	&__todo-list {
		width: 100%;
		padding: 1rem 0rem;
		background-color: $lightColor-1;
		border-bottom: 0.2rem solid $lightColor;

		&__items {
			display: flex;
			align-items: center;
			gap: 1.6rem;
			font-weight: 500;
			line-height: 1.6rem;
			font-size: 1.4rem;
		}

		&__item {

			&__link {
				color: $darkColor-2;
			}

			&_active {
				color: $darkColor-3;
			}
		}
	}

	&__search {
		padding-top: 1.6rem;

		&__wrapper {
			display: flex;
			align-items: center;
			gap: 0.8rem;
			width: 32.8rem;
			padding: 0.8rem;
			border-radius: 0.4rem;
			border: 0.1rem solid $lightColor;
		}

		&__input {
			width: 100%;
			border: none;
			background-color: $whiteColor;
			font-weight: 400;
			line-height: 1.7rem;
			font-size: 1.4rem;
			color: $darkColor-1;

			&__icon {
				display: block;
				width: 2rem;
				height: 2rem;
				background-color: transparent;
				background-image: url('../images/sidebar/svg/search.svg');
				background-position: center center;
				background-size: auto;
				background-repeat: no-repeat;
			}
		}
	}
}

// MAIN
.main {
	margin-top: 11.2rem;
	background-color: $lightColor-1;
	flex-grow: 1;

	&__desktop {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.6rem;
		width: 184.8rem;
		height: 86vh;
		padding: 1.4rem 0rem;
		overflow-y: scroll;
	}
}

// WIDGET
.widget {
	min-width: 60rem;
	min-height: 52rem;
	border-radius: 0.8rem;

	&__remove {
		opacity: 0;
		visibility: hidden;
	}

	&__dashed-border {
		border-radius: 4px;
		border: 0.2rem dashed $lightColor-2;
	}

	&__action {
		min-height: 52rem;
		height: 52rem;
		background-color: $whiteColor;
		border-radius: 0.8rem;
		border: 1px solid $lightColor;
		border-top: none;
	}

	&__header {
		width: 100%;
		min-height: 6.6rem;
		border-bottom: 0.1rem solid $lightColor;

		&__line {
			top: -1px;
			padding: 0.2rem 0rem;
			border-radius: 0.8rem 0.8rem 0rem 0rem;

			&_blue {
				background-color: $blueColor;
			}

			&_red {
				background-color: $redColor;
			}

			&_yellow {
				background-color: $yellowColor;
			}
		}

		&__wrapper {
			// position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1rem 0rem 1.4rem;
		}

		&__text {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		&__title {
			font-weight: 500;
			line-height: 115%;
			color: $darkColor-3;
		}

		&__desc {
			display: flex;
			align-items: center;
			gap: 0.8rem;
			font-weight: 500;
			font-size: 1.4rem;
			line-height: 115%;
			color: $darkColor-3;

			&__name,
			&__filter {
				display: flex;
				align-items: center;
				color: $darkColor-2;
			}

			&__period {
				cursor: pointer;

				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 0.1rem;
					background-color: $blueColor;
				}
			}

			&__date {
				width: 13rem;
				border-bottom: 0.1rem solid $blueColor;
				font-weight: 500;
				font-size: 1.4rem;
				line-height: 1.6rem;
				color: $darkColor-3;
				cursor: pointer;

				&::placeholder {
					font-weight: 500;
					font-size: 1.4rem;
					line-height: 1.6rem;
					color: $darkColor-3;
				}
			}
		}

		&__more-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2rem;
			height: 2rem;
			border-radius: 0.4rem;
			cursor: pointer;

			&_active {
				background-color: $footerColor;
			}
		}
	}

	&__search {
		min-height: 4.8rem;
		border-bottom: 0.1rem solid $lightColor;

		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.6rem 0rem;
		}

		&__wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 0.8rem;
			max-width: 48.3rem;
			padding: 0.8rem;
		}

		&__img {
			display: block;
			width: 2rem;
			height: 2rem;
			background-image: url('../images/main/widget/svg/search.svg');
			background-position: center center;
			background-size: auto;
			background-repeat: no-repeat;
		}

		&__input {
			height: 2rem;

			&::placeholder {
				font-weight: 400;
				line-height: 125%;
				font-size: 1.4rem;
				color: $darkColor-1;
			}

			&[type="search"]::-webkit-search-decoration,
			&[type="search"]::-webkit-search-cancel-button,
			&[type="search"]::-webkit-search-results-button,
			&[type="search"]::-webkit-search-results-decoration {
				-webkit-appearance: none;
			}
		}
	}

	&__main {
		flex-grow: 1;

		&__wrapper {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding-top: 1.6rem;

			&_funnel {
				align-items: start;
			}
		}

		&__contact {
			width: 100%;
			padding: 0.8rem 1.6rem;
			border: 1px solid $lightColor;

			&__wrapp {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			&__data {
				display: flex;
				flex-direction: column;

				&__connection {
					display: flex;
					align-items: center;
				}

				&_name {
					font-weight: 500;
					font-size: 1.4rem;
					color: $darkColor-3;
					white-space: nowrap;
					text-overflow: ellipsis;
					line-height: 115%;
				}

				& a {
					display: flex;
					align-items: center;
					gap: 0.4rem;
					font-weight: 400;
					color: $darkColor-1;

					&::before {
						content: '';
						display: block;
						width: 1.2rem;
						height: 1.2rem;
						background-position: center center;
						background-size: auto;
						background-repeat: no-repeat
					}
				}

				&_phone {
					line-height: 115%;
					font-size: 1.2rem;

					&::before {
						background-image: url('../images/main/widget/svg/phone.svg');
					}
				}

				&_email {
					line-height: 120%;
					font-size: 1.3rem;

					&::before {
						background-image: url('../images/main/widget/svg/email.svg');
					}
				}
			}

			&__icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 2.4rem;
				height: 2.4rem;
				background: linear-gradient(0deg, $blueColor -251.25%, $lightColor-3 50%);
				border-radius: 50%;

				&_status {
					font-weight: 700;
					line-height: 115%;
					letter-spacing: 0.28px;
					font-size: 1.4rem;
					color: $darkColor-2;
					text-transform: uppercase;
				}
			}
		}

		&__canvas {
			width: 36.5rem !important;
			height: 36.5rem !important;

			&__funnel {
				width: 94% !important;
				height: 36rem !important;
			}
		}
	}

	&__footer {
		width: 100%;
		min-height: 5.2rem;
		border-top: 1px solid $lightColor;
		border-radius: 0rem 0rem 0.8rem 0.8rem;
		background: linear-gradient(180deg, #EFF3F6 0%, #DFE3E9 100%);
		box-shadow: 0px 2px 0px 0px $lightColor inset;

		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1.6rem 0rem;
		}

		&__wrap {
			display: flex;
			align-items: center;
			gap: 1.7rem;
		}

		&__date,
		&__contact-sheet {
			font-size: 1.3rem;
			line-height: 120%;
			color: $darkColor-1;
		}

		&__icons {
			display: flex;
			align-items: center;
			gap: 1.6rem;
		}

		&__icon {
			display: block;
			width: 2rem;
			height: 2rem;
			background-position: center center;
			background-size: auto;
			background-repeat: no-repeat;
			cursor: pointer;

			&_update {
				background-image: url('../images/main/widget/svg/update.svg');
			}

			&_increase {
				background-image: url('../images/main/widget/svg/increase.svg');
			}
		}
	}
}

.widget-contacts {

	&__main {
		overflow: scroll;
	}

	&__create {
		font-weight: 500;
		line-height: 115%;
		font-size: 1.4rem;
		color: $darkColor-3;
		cursor: pointer;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 0.1rem;
			background-color: $blueColor;
		}
	}

	&_gap {
		gap: 0.8rem;
	}
}

// TOOLTIP
.tippy-box {
	font-size: 1.3rem !important;
	line-height: 1.5rem !important;
	color: $whiteColor !important;
	background-color: $tooltipColor !important;
	border-radius: 0.4rem !important;
	opacity: 0.9 !important;
}

.tippy-box[data-placement^='top']>.tippy-arrow::before {
	border-top-color: $tooltipColor !important;
}

// FOOTER
.footer {
	display: flex;
	align-items: center;
	justify-content: end;
	font-size: 1.3rem;
	line-height: 120%;
	color: $darkColor-1;
	background-color: $footerColor;
	padding: 0.6rem 0rem;

	&__wrap {
		display: flex;
		align-items: center;
		padding-right: 7rem;
	}

	&__copyright {
		display: flex;
		align-items: center;

		&::after {
			content: '';
			display: block;
			width: 0.1rem;
			height: 1.6rem;
			background-color: $lightColor;
			margin: 0rem 0.8rem 0rem 0.8rem;
		}
	}
}

// POPUP
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(39, 49, 66, 0.1);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;

	&__open {
		opacity: 1;
		visibility: visible;
	}

	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 3rem 1rem;
	}

	&__content {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 1.6rem;
		width: 44.8rem;
		background-color: $whiteColor;
		padding: 2.4rem;
		border-radius: 1.6rem;
		box-shadow: 0px 11px 53px 0px rgba(27, 36, 49, 0.05), 0px 28px 40px 0px rgba(27, 36, 49, 0.15);
	}

	&__img {
		display: block;
		width: 9.6rem;
		height: 9.6rem;
		background-color: transparent;
		background-image: url('../images/popup/svg/attention.svg');
		background-position: center center;
		background-size: auto;
		background-repeat: no-repeat;
	}

	&__title {
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 2.4rem;
		color: $titleSideMenuColor;
	}

	&__text {
		font-size: 1.4rem;
		line-height: 1.8rem;
		text-align: center;
		color: $darkColor-1;
	}

	&__events {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		margin-top: 0.8rem;

		&__text {
			font-weight: 700;
			text-align: center;
			font-size: 1.4rem;
			line-height: 1.6rem;
			letter-spacing: 0.28px;
			text-transform: uppercase;
			padding: 1.2rem;
			border-radius: 0.4rem;
			cursor: pointer;
		}

		&__agree {
			color: $whiteColor;
			background: $scrollColor;
		}

		&__cancel {
			color: $darkColor-3;
			border: 0.1rem solid $lightColor;
		}
	}
}

.input-calendar {
	display: none;
}